<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Authors' List</title>
</head>
<body>
<h1>Authors' List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address Line</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP</th>
        <th>Photos</th>

    </tr>
    <tr th:each="publisher : ${publisher}">
        <td th:text="${publisher.id}">123</td>
        <td th:text="${publisher.name}"> Spring in Action</td>
        <td th:text="${publisher.city}">Wrox</td>
        <td th:text="${publisher.state}">Wrox</td>
        <td th:text="${publisher.zip}">Wrox</td>

    </tr>
</table>

<br>

<td th:each="publisher : ${publisher}">
    <img th:src="${publisher.photos}" width="200" height="300" alt="book name" >
</td>

</body>
</html>